### Membaca tabel dengan 5 data terawal

In [1]:
import pandas as pd 
import numpy as np 
inputfilename = 'merged_data_path10.csv'
df = pd.read_csv(inputfilename)
df.head(5)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11232\1083702034.py:4: DtypeWarning: Columns (11,13,14,15,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(inputfilename)

,date (yyyy-MM-dd HH:mm:ss),windAlg.Spd_2m_kt,windAlg.Dir_2m,windAlg.GustAv_10m_kt,windAlg.SpdX_2m_kt,ALgt_1m_cd/m2,windAlg.Spd_10m_kt,windAlg.Dir_10m,windAlg.DirCCw_10m,windAlg.DirCw_10m,...,ceilAlg.layer2_report,ceilAlg.layer3_report,ceilAlg.layer4_report,visiAlg.PW_METAR,zenoAlg.AT_5m_C.1,zenoAlg.RH_5m.1,baroAlg.BPLow_1m_Mb,windAlg.Dir_2m.1,windAlg.Spd_2m_kt.1,ALgt_1m_cd/m2.1
0,2022-12-01 00:00:15,1.7,222,NaN,1.4,3704.0,2.1,208,178.0,239.0,...,NaN,NaN,NaN,BR,26.4,95.6,NaN,222,1.7,3704.0
1,2022-12-01 00:01:15,1.8,229,NaN,1.4,3743.0,2.0,213,178.0,241.0,...,NaN,NaN,NaN,BR,26.4,95.4,NaN,229,1.8,3743.0
2,2022-12-01 00:02:15,2.0,224,NaN,1.7,3906.0,2.0,214,178.0,241.0,...,NaN,NaN,NaN,BR,26.4,95.2,NaN,224,2.0,3906.0
3,2022-12-01 00:03:15,1.9,211,NaN,1.8,3990.0,2.0,213,178.0,241.0,...,NaN,NaN,NaN,BR,26.4,95.1,NaN,211,1.9,3990.0
4,2022-12-01 00:04:15,1.9,226,NaN,1.5,4087.0,2.0,218,178.0,265.0,...,NaN,NaN,NaN,BR,26.5,95.2,NaN,226,1.9,4087.0

### Pengecekan kolom yang kosong, jika terdapat data kolom yang kosong maka bertulisan 'true'

In [2]:
df.isnull().any()

date (yyyy-MM-dd HH:mm:ss)    False
windAlg.Spd_2m_kt             False
windAlg.Dir_2m                 True
windAlg.GustAv_10m_kt          True
windAlg.SpdX_2m_kt             True
ALgt_1m_cd/m2                  True
windAlg.Spd_10m_kt            False
windAlg.Dir_10m               False
windAlg.DirCCw_10m             True
windAlg.DirCw_10m              True
windAlg.Peak_10m_kt           False
zenoAlg.AT_5m_C               False
zenoAlg.DP_5m_C                True
zenoAlg.RH_5m                 False
baroAlg.QNH_1m_mb             False
baroAlg.QFE_1m_mb             False
baroAlg.BPLow_1m_mb            True
visiAlg.F_Vis_1m_m             True
visiAlg.F_Vis_10m_m            True
visiAlg.VisMn_10m_m            True
visiAlg.VisMx_10m_m            True
runway                         True
touchdown.message             False
rollout.message               False
touchdown.edge                 True
touchdown.center               True
ceilAlg.Base_30s_ft            True
ceilAlg.layer1_report          True
ceilAlg.layer2_report          True
ceilAlg.layer3_report          True
ceilAlg.layer4_report          True
visiAlg.PW_METAR               True
zenoAlg.AT_5m_C.1             False
zenoAlg.RH_5m.1               False
baroAlg.BPLow_1m_Mb            True
windAlg.Dir_2m.1               True
windAlg.Spd_2m_kt.1           False
ALgt_1m_cd/m2.1                True
dtype: bool

### Mengecek persentase data kosong pada setiap kolom

In [3]:
for column in df.columns:
    total_empty_values = df[column].isna().sum()
    total_rows = len(df)
    percentage = (total_empty_values / total_rows) * 100
    print('Column:' , column)
    print(f'Total empty values: {total_empty_values}')
    print(f'Percentage of empty values: {percentage:.2f}%')
    print('---')

Column: date (yyyy-MM-dd HH:mm:ss)
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: windAlg.Spd_2m_kt
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: windAlg.Dir_2m
Total empty values: 3
Percentage of empty values: 0.00%
---
Column: windAlg.GustAv_10m_kt
Total empty values: 127798
Percentage of empty values: 98.61%
---
Column: windAlg.SpdX_2m_kt
Total empty values: 28
Percentage of empty values: 0.02%
---
Column: ALgt_1m_cd/m2
Total empty values: 156
Percentage of empty values: 0.12%
---
Column: windAlg.Spd_10m_kt
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: windAlg.Dir_10m
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: windAlg.DirCCw_10m
Total empty values: 299
Percentage of empty values: 0.23%
---
Column: windAlg.DirCw_10m
Total empty values: 299
Percentage of empty values: 0.23%
---
Column: windAlg.Peak_10m_kt
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: zenoAlg.AT_5m_C
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: zenoAlg.DP_5m_C
Total empty values: 1023
Percentage of empty values: 0.79%
---
Column: zenoAlg.RH_5m
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: baroAlg.QNH_1m_mb
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: baroAlg.QFE_1m_mb
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: baroAlg.BPLow_1m_mb
Total empty values: 48
Percentage of empty values: 0.04%
---
Column: visiAlg.F_Vis_1m_m
Total empty values: 14
Percentage of empty values: 0.01%
---
Column: visiAlg.F_Vis_10m_m
Total empty values: 32
Percentage of empty values: 0.02%
---
Column: visiAlg.VisMn_10m_m
Total empty values: 492
Percentage of empty values: 0.38%
---
Column: visiAlg.VisMx_10m_m
Total empty values: 492
Percentage of empty values: 0.38%
---
Column: runway
Total empty values: 129600
Percentage of empty values: 100.00%
---
Column: touchdown.message
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: rollout.message
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: touchdown.edge
Total empty values: 50132
Percentage of empty values: 38.68%
---
Column: touchdown.center
Total empty values: 50132
Percentage of empty values: 38.68%
---
Column: ceilAlg.Base_30s_ft
Total empty values: 87
Percentage of empty values: 0.07%
---
Column: ceilAlg.layer1_report
Total empty values: 1118
Percentage of empty values: 0.86%
---
Column: ceilAlg.layer2_report
Total empty values: 60883
Percentage of empty values: 46.98%
---
Column: ceilAlg.layer3_report
Total empty values: 96041
Percentage of empty values: 74.11%
---
Column: ceilAlg.layer4_report
Total empty values: 117391
Percentage of empty values: 90.58%
---
Column: visiAlg.PW_METAR
Total empty values: 81741
Percentage of empty values: 63.07%
---
Column: zenoAlg.AT_5m_C.1
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: zenoAlg.RH_5m.1
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: baroAlg.BPLow_1m_Mb
Total empty values: 129600
Percentage of empty values: 100.00%
---
Column: windAlg.Dir_2m.1
Total empty values: 3
Percentage of empty values: 0.00%
---
Column: windAlg.Spd_2m_kt.1
Total empty values: 0
Percentage of empty values: 0.00%
---
Column: ALgt_1m_cd/m2.1
Total empty values: 156
Percentage of empty values: 0.12%
---

### Pengecekkan dan penggantian nilai data pada Wind Direction Algoritma

In [4]:
missing_place = df.index[df['windAlg.Dir_2m.1'].isna()].tolist()
print(missing_place)

[38981, 39202, 113804]

In [5]:
df.loc[39200:39205,'windAlg.Dir_2m.1']

39200      M
39201      M
39202    NaN
39203      M
39204      M
39205      M
Name: windAlg.Dir_2m.1, dtype: object

#### Karena data yang kosong terhimpit oleh simbol 'M' maka tidak bisa diinterpolasi linier, maka akan saya ganti dengan NaN

In [7]:
for column in df.columns:
    df[column] = df[column].replace('M', np.nan)

In [8]:
df.loc[39200:39205,'windAlg.Dir_2m.1']

39200    NaN
39201    NaN
39202    NaN
39203    NaN
39204    NaN
39205    NaN
Name: windAlg.Dir_2m.1, dtype: object

### Drop column yang memiliki persentase diatas 50% dan bukan kode

In [9]:
df.drop('windAlg.GustAv_10m_kt', axis=1, inplace=True)
df.drop('runway', axis=1, inplace=True)
df.drop('baroAlg.BPLow_1m_Mb', axis=1, inplace=True)
# Pengulangan data kolom dikarenakan data diambil dari mesin secara otomatis
df.drop('zenoAlg.AT_5m_C.1', axis=1, inplace=True)
df.drop('zenoAlg.RH_5m.1', axis=1, inplace=True)
df.drop('windAlg.Dir_2m.1', axis=1, inplace=True)
df.drop('windAlg.Spd_2m_kt.1', axis=1, inplace=True)
df.drop('ALgt_1m_cd/m2.1', axis=1, inplace=True)

### Pengisian data kosong dengan persentase kecil

#### Pengecekkan data yang bukan float maka diganti ke float

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129600 entries, 0 to 129599
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   date (yyyy-MM-dd HH:mm:ss)  129600 non-null  object
 1   windAlg.Spd_2m_kt           129437 non-null  object
 2   windAlg.Dir_2m              129437 non-null  object
 3   windAlg.SpdX_2m_kt          129572 non-null  float64
 4   ALgt_1m_cd/m2               129444 non-null  float64
 5   windAlg.Spd_10m_kt          129270 non-null  object
 6   windAlg.Dir_10m             129270 non-null  object
 7   windAlg.DirCCw_10m          129301 non-null  float64
 8   windAlg.DirCw_10m           129301 non-null  float64
 9   windAlg.Peak_10m_kt         129600 non-null  float64
 10  zenoAlg.AT_5m_C             129587 non-null  object
 11  zenoAlg.DP_5m_C             128577 non-null  float64
 12  zenoAlg.RH_5m               129568 non-null  object
 13  baroAlg.QNH_1m_mb           129597 non-null  object
 14  baroAlg.QFE_1m_mb           129578 non-null  object
 15  baroAlg.BPLow_1m_mb         129552 non-null  float64
 16  visiAlg.F_Vis_1m_m          129586 non-null  float64
 17  visiAlg.F_Vis_10m_m         129568 non-null  float64
 18  visiAlg.VisMn_10m_m         129108 non-null  float64
 19  visiAlg.VisMx_10m_m         129108 non-null  float64
 20  touchdown.message           79411 non-null   object
 21  rollout.message             79422 non-null   object
 22  touchdown.edge              79468 non-null   float64
 23  touchdown.center            79468 non-null   float64
 24  ceilAlg.Base_30s_ft         129513 non-null  float64
 25  ceilAlg.layer1_report       128482 non-null  object
 26  ceilAlg.layer2_report       68717 non-null   object
 27  ceilAlg.layer3_report       33559 non-null   object
 28  ceilAlg.layer4_report       12209 non-null   object
 29  visiAlg.PW_METAR            47833 non-null   object
dtypes: float64(14), object(16)
memory usage: 29.7+ MB

In [11]:
df['windAlg.Spd_2m_kt'] = df['windAlg.Spd_2m_kt'].astype(float)
df['windAlg.Dir_2m'] = df['windAlg.Dir_2m'].astype(float)
df['windAlg.Spd_10m_kt'] = df['windAlg.Spd_10m_kt'].astype(float)
df['windAlg.Dir_10m'] = df['windAlg.Dir_10m'].astype(float)
df['zenoAlg.AT_5m_C'] = df['zenoAlg.AT_5m_C'].astype(float)
df['zenoAlg.RH_5m'] = df['zenoAlg.RH_5m'].astype(float)
df['baroAlg.QNH_1m_mb'] = df['baroAlg.QNH_1m_mb'].astype(float)
df['baroAlg.QFE_1m_mb'] = df['baroAlg.QFE_1m_mb'].astype(float)

In [12]:
def interpolate_columns(df, columns):
    for column in columns:
        df[column].interpolate(method='linear', inplace=True, limit_direction='both', limit=None)

interpolate_columns(df, df.columns)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11232\383785225.py:3: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df[column].interpolate(method='linear', inplace=True, limit_direction='both', limit=None)

### Pengecekan dan pengisian data kosong pada touchdown.edge dan touchdown.center dengan menggunakan nilai sebelumnya

In [13]:
df.loc[100:120,'touchdown.center']

100    0.0
101    0.0
102    0.0
103    0.0
104    0.0
105    0.0
106    0.0
107    0.0
108    0.0
109    0.0
110    0.0
111    0.0
112    0.0
113    0.0
114    0.0
115    0.0
116    0.0
117    0.0
118    0.0
119    0.0
120    0.0
Name: touchdown.center, dtype: float64

In [14]:
df['touchdown.edge'].fillna(method='ffill',inplace=True)
df['touchdown.center'].fillna(method='ffill',inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11232\1093043511.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['touchdown.edge'].fillna(method='ffill',inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11232\1093043511.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['touchdown.center'].fillna(method='ffill',inplace=True)

### Mengubah kode agar menjadi angka

In [15]:
#Define kode touchdown.message dan rollout.message menjadi angka
#P = 3 , M = 5
kode_touchdown = { 'P2000' : '3200', 'M': '5' }
#Replace 
df['touchdown.message'] = df['touchdown.message'].replace(kode_touchdown)
df['rollout.message'] = df['rollout.message'].replace(kode_touchdown)

In [16]:
#Kode Ceil : {'NCD' : 1 ,'FEW' : 2 , 'BKN' : 3 , 'SCT' : 4, 'OVC' : 5}

# Fungsi untuk mengubah kode string menjadi angka
def convert_code_to_number(s):
    if pd.notna(s):  # Check if the value is not NaN
        if 'FEW' in s:
            return pd.to_numeric(s.replace('FEW', '2'), errors='coerce')
        elif 'BKN' in s:
            return pd.to_numeric(s.replace('BKN', '3'), errors='coerce')
        elif 'NCD' in s:
            return pd.to_numeric(s.replace('NCD', '1'), errors='coerce')
        elif 'SCT' in s:
            return pd.to_numeric(s.replace('SCT', '4'), errors='coerce')
        elif 'OVC' in s:
            return pd.to_numeric(s.replace('OVC', '5'), errors='coerce')
    return pd.to_numeric(s, errors='coerce')  # Return NaN if the value is NaN

# Terapkan fungsi ke kolom yang diinginkan
df['ceilAlg.layer1_report'] = df['ceilAlg.layer1_report'].apply(convert_code_to_number)
df['ceilAlg.layer2_report'] = df['ceilAlg.layer2_report'].apply(convert_code_to_number)
df['ceilAlg.layer3_report'] = df['ceilAlg.layer3_report'].apply(convert_code_to_number)
df['ceilAlg.layer4_report'] = df['ceilAlg.layer4_report'].apply(convert_code_to_number)

In [17]:
#Replace 
def replace_code_metar(x):
    kode_metar = { 'BR': '1' , 'HZ': '2', 'RA': '3', '-RA': '33', 'VCTS': '4', 'GS': '5', '+TSRA': '6','-TSRA': '66' }
    try:
        return kode_metar[x]
    except:
        return 0
df['visiAlg.PW_METAR'] = df['visiAlg.PW_METAR'].apply(replace_code_metar)

### Pengisian data kosong pada ceilometer algoritma dengan angka '0'

In [18]:
#Fill ceilometer algoritma layer 2 , 3 , 4 ,dan PW_METAR  pada empty value dengan 0 
df['ceilAlg.layer1_report'].fillna(0,inplace=True)
df['ceilAlg.layer2_report'].fillna(0,inplace=True)
df['ceilAlg.layer3_report'].fillna(0,inplace=True)
df['ceilAlg.layer4_report'].fillna(0,inplace=True)
df['visiAlg.PW_METAR'].fillna(0,inplace=True)

### Pengisian data kosong pada touchdown.message dan rollout.message

In [19]:
df['touchdown.message'].fillna(method='ffill',inplace=True)
df['rollout.message'].fillna(method='ffill',inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11232\2843894071.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['touchdown.message'].fillna(method='ffill',inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11232\2843894071.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['rollout.message'].fillna(method='ffill',inplace=True)

### Pengecekkan kembali column jika terdapat column yang memiliki data yang masih kosong

In [20]:
df.isnull().any()

date (yyyy-MM-dd HH:mm:ss)    False
windAlg.Spd_2m_kt             False
windAlg.Dir_2m                False
windAlg.SpdX_2m_kt            False
ALgt_1m_cd/m2                 False
windAlg.Spd_10m_kt            False
windAlg.Dir_10m               False
windAlg.DirCCw_10m            False
windAlg.DirCw_10m             False
windAlg.Peak_10m_kt           False
zenoAlg.AT_5m_C               False
zenoAlg.DP_5m_C               False
zenoAlg.RH_5m                 False
baroAlg.QNH_1m_mb             False
baroAlg.QFE_1m_mb             False
baroAlg.BPLow_1m_mb           False
visiAlg.F_Vis_1m_m            False
visiAlg.F_Vis_10m_m           False
visiAlg.VisMn_10m_m           False
visiAlg.VisMx_10m_m           False
touchdown.message             False
rollout.message               False
touchdown.edge                False
touchdown.center              False
ceilAlg.Base_30s_ft           False
ceilAlg.layer1_report         False
ceilAlg.layer2_report         False
ceilAlg.layer3_report         False
ceilAlg.layer4_report         False
visiAlg.PW_METAR              False
dtype: bool

In [21]:
# Fungsi untuk mencari nilai 'M' dalam seluruh DataFrame
def cari_M(value):
    return 'M' in str(value)

# Terapkan pencarian ke seluruh DataFrame
hasil_pencarian = df.applymap(cari_M)

# Cek apakah hasil pencarian kosong
if not hasil_pencarian.empty:
    # Jika tidak kosong, tampilkan hasil pencarian
    print("\nHasil Pencarian:")
    print(df[hasil_pencarian.any(axis=1)])
else:
    # Jika kosong, keluarkan pesan
    print("\nTidak ada huruf M")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11232\511685323.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  hasil_pencarian = df.applymap(cari_M)

Hasil Pencarian:
Empty DataFrame
Columns: [date (yyyy-MM-dd HH:mm:ss), windAlg.Spd_2m_kt, windAlg.Dir_2m, windAlg.SpdX_2m_kt, ALgt_1m_cd/m2, windAlg.Spd_10m_kt, windAlg.Dir_10m, windAlg.DirCCw_10m, windAlg.DirCw_10m, windAlg.Peak_10m_kt, zenoAlg.AT_5m_C, zenoAlg.DP_5m_C, zenoAlg.RH_5m, baroAlg.QNH_1m_mb, baroAlg.QFE_1m_mb, baroAlg.BPLow_1m_mb, visiAlg.F_Vis_1m_m, visiAlg.F_Vis_10m_m, visiAlg.VisMn_10m_m, visiAlg.VisMx_10m_m, touchdown.message, rollout.message, touchdown.edge, touchdown.center, ceilAlg.Base_30s_ft, ceilAlg.layer1_report, ceilAlg.layer2_report, ceilAlg.layer3_report, ceilAlg.layer4_report, visiAlg.PW_METAR]
Index: []

[0 rows x 30 columns]

In [22]:
df.to_csv(f'preprocess_{inputfilename}', index=False)