In [1]:
import pandas as pd 
import numpy as np 
df10 = pd.read_csv('merged_data_path10.csv')
df1028 = pd.read_csv('merged_data_path1028.csv')
df28 = pd.read_csv('merged_data_path28.csv')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11380\3403029290.py:3: DtypeWarning: Columns (11,13,14,15,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df10 = pd.read_csv('merged_data_path10.csv')
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11380\3403029290.py:4: DtypeWarning: Columns (1,2,3,6,7,11,13,14,15,32,33,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df1028 = pd.read_csv('merged_data_path1028.csv')
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11380\3403029290.py:5: DtypeWarning: Columns (1,2,3,6,7,11,13,14,15,32,33,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df28 = pd.read_csv('merged_data_path28.csv')

In [2]:
# Kolom yang ingin Anda pertahankan
columns_to_keep1 = ['date (yyyy-MM-dd HH:mm:ss)','zenoAlg.AT_5m_C']
columns_to_keep = ['zenoAlg.AT_5m_C']

# Menjatuhkan semua kolom kecuali yang ingin dipertahankan
df_suhu_10 = df10.drop(columns=df10.columns.difference(columns_to_keep))
df_suhu_1028 = df1028.drop(columns=df1028.columns.difference(columns_to_keep))
df_suhu_28 = df28.drop(columns=df28.columns.difference(columns_to_keep))

# Tampilkan hasilnya
print(df_suhu_10, df_suhu_1028, df_suhu_28)

       date (yyyy-MM-dd HH:mm:ss) zenoAlg.AT_5m_C
0             2022-12-01 00:00:15            26.4
1             2022-12-01 00:01:15            26.4
2             2022-12-01 00:02:15            26.4
3             2022-12-01 00:03:15            26.4
4             2022-12-01 00:04:15            26.5
...                           ...             ...
129595        2023-02-28 23:55:15            25.5
129596        2023-02-28 23:56:15            25.6
129597        2023-02-28 23:57:15            25.7
129598        2023-02-28 23:58:15            25.8
129599        2023-02-28 23:59:15            25.8

[129600 rows x 2 columns]        date (yyyy-MM-dd HH:mm:ss) zenoAlg.AT_5m_C
0             2022-12-01 00:00:15            26.6
1             2022-12-01 00:01:15            26.6
2             2022-12-01 00:02:15            26.7
3             2022-12-01 00:03:15            26.8
4             2022-12-01 00:04:15            26.8
...                           ...             ...
129595        2023-02-28 23:55:15            25.8
129596        2023-02-28 23:56:15            25.8
129597        2023-02-28 23:57:15            26.0
129598        2023-02-28 23:58:15            26.1
129599        2023-02-28 23:59:15            26.1

[129600 rows x 2 columns]        date (yyyy-MM-dd HH:mm:ss) zenoAlg.AT_5m_C
0             2022-12-01 00:00:15            26.3
1             2022-12-01 00:01:15            26.4
2             2022-12-01 00:02:15            26.4
3             2022-12-01 00:03:15            26.5
4             2022-12-01 00:04:15            26.6
...                           ...             ...
129595        2023-02-28 23:55:15            25.6
129596        2023-02-28 23:56:15            25.6
129597        2023-02-28 23:57:15            25.7
129598        2023-02-28 23:58:15            25.8
129599        2023-02-28 23:59:15            25.8

[129600 rows x 2 columns]

In [7]:
df_suhu_10.isnull().sum()

date (yyyy-MM-dd HH:mm:ss)    0
zenoAlg.AT_5m_C               0
dtype: int64

In [4]:
df_suhu_1028.isnull().sum()

date (yyyy-MM-dd HH:mm:ss)    0
zenoAlg.AT_5m_C               0
dtype: int64

In [5]:
df_suhu_28.isnull().sum()

date (yyyy-MM-dd HH:mm:ss)    0
zenoAlg.AT_5m_C               0
dtype: int64

In [12]:
df_suhu_10.rename(columns={'date (yyyy-MM-dd HH:mm:ss)': 'date','zenoAlg.AT_5m_C' : 'AT_10'}, inplace=True)
df_suhu_1028.rename(columns={'date (yyyy-MM-dd HH:mm:ss)': 'date','zenoAlg.AT_5m_C' : 'AT_1028'}, inplace=True)
df_suhu_28.rename(columns={'date (yyyy-MM-dd HH:mm:ss)': 'date','zenoAlg.AT_5m_C' : 'AT_28'}, inplace=True)